.header{
    display: grid;
    grid-template-columns: 250px auto 200px;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;

}
.header__left{
    display: flex;
    align-items: center;
}
.header__middel{
    display: flex;
    flex: 0.7;
}
.search_mail{
    background: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex: 0.7;
}
.search_mail input{
    border: 0;
    background: transparent;
    outline: 0;
    flex: 1;
    font-size: 15px;
    letter-spacing: 1px;
}
.header__right{
    display:flex;
    align-items:center;
}
.header__right .MuiAvatar-root{
    width: 30px;
    height: 30px;
}